# 1. Scraping the Wikipedia Table and formatting the Data Frame.

### Importing libraries and reading data using pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
data=pd.read_html(link)

In [4]:
data=data[0]

In [5]:
print(data)

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                          Neighborhood
0                                                  NaN
1                                                  NaN
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                                NaN
176                                                NaN
177                                                NaN
178  Mimico NW, The Queensway West, South of Bloor,...
179                                                NaN

[180 rows x 3 columns]

### Converting into a Data Frame

In [6]:
data=pd.DataFrame(data)

### Dropping Rows with "Borough" as "Not assigned"

In [7]:
df=data[data['Borough']!='Not assigned']

In [8]:
df=df.reset_index()

In [9]:
df.drop(['index'], axis=1, inplace=True)

In [10]:
df

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [11]:
df.shape

(103, 3)

In [12]:
df.describe()

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M9M  North York    Downsview
freq             1          24            4